.cv-container{
  width: 50%;
  margin: auto;
  background-color: white;
  padding:10px;
}

#header{
  text-align: center;
}

#general input{
  display:block;
  margin:0 0 10px 0;
  font-size:24px;
  
}

#general-display{
  display: none;
}

#general-display h2{
  font-weight: 400;
  font-size: 22px;
}

#experience-display{
  display: none;
}

#experience-display h2{
  font-weight: 400;
  font-size: 22px;
}

#education-display{
  display: none;
}

#education-display h2{
  font-weight: 400;
  font-size: 22px;
}

.submitted{
  border:none;
  resize:none;
}

.submitted:active{
  border: none;
  outline: none;
}




#education-info > *{
  display:block;
  margin-bottom:10px;
  
}

#experience-info > *{
  display:block;
  margin-bottom:10px;
  
}




